<h1>Stupid Coaching</h1>

<div class="question">
  <p><%= @message %></p>
  <p class="coach">-You</p>
</div>

<div class="answer">
  <p class="answers"><%= @answer %> </p>
  <p class="coach">-Your Coach</p>
</div>

