// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 30px;

}

p {
  font-size: 15px;
  font-family: sans-serif;
}

.question {
}

.answer {
  padding-top: 10px;
}


.answers {
  font-weight: bold;
}

.coach {
 font-style: italic;
}
